<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="service-log.txt" />
    <param name="appendToFile" value="true" />
    <param name="maximumFileSize" value="5MB" />
    <param name="maxSizeRollBackups" value="200" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%level] %logger - %message - %exception - %stacktrace - %stracktracedetail - %file%newline" />
    </layout>
  </appender>

  <root>
    <level value="All" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>